{{!-- Edit de Mesa --}}

<div class="container">
    <form method="post" action="/mesa/{{mesa.id}}?_method=put">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="my-3">
            <label for="id-input-id" class="form-label">ID</label>
            <input type="text" id="id-input-id" value="{{mesa.id}}" class="form-control" disabled>
        </div>
        <div class="my-3">
            <label for="id-input-numero" class="form-label">Número</label>
            <input type="text" name="numero" id="id-input-numero" value="{{mesa.numero}}" class="form-control"
                placeholder="Digite um numero para o produto. Ex: {{mesa.numero}}" required>
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="/mesa" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>