{{!-- Index de Mesa --}}

<div class="container">
    <a href="/mesa/create" class="btn btn-primary">Adicionar uma nova Mesa</a>
    <a href="/recurso" class="btn btn-primary">Voltar</a>
    <table class="table hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Número</th>
                <th scope="col">Estado</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {{!-- Imprimindo o conteúdo --}}
            {{#each mesas}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.numero}}</td>
                {{#if (igual this.estado 'A') }}
                <td>Aberta</td>
                {{else}}
                {{#if (igual this.estado 'O') }}
                <td>Ocupada</td>
                {{else}}
                {{#if (igual this.estado 'R') }}
                <td>Reservada</td>
                {{else}}
                <td>Indefinido</td>
                {{/if}}
                {{/if}}
                {{/if}}
                <td>
                    <a href="/mesa/{{this.id}}" class="btn btn-primary">Mostrar</a>
                    <a href="/mesa/{{this.id}}/edit" class="btn btn-secondary">Editar</a>
                    <a href="#" class="btn btn-danger" onclick="deleteResource({{this.id}})">Remover</a>
                </td>
            </tr>
            {{/each }}
        </tbody>
    </table>
</div>

<script>
    async function deleteResource(id) {
        if (confirm(`Deseja remover o recurso de id = ${id}`)) {
            const response = await fetch(`/mesa/${id}`, {
                method: "DELETE",
                headers: {
                    "X-CSRF-Token": "{{csrfToken}}"
                }
            });
            if (response.redirected) {
                window.location.href = response.url;
            }
        }
    }
</script>