{{!-- Edit de Produto --}}

<div class="container">
    <form method="post" action="/produto/{{produto.id}}?_method=put">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="my-3">
            <label for="id-input-id" class="form-label">ID</label>
            <input type="text" id="id-input-id" value="{{produto.id}}" class="form-control" disabled>
        </div>
        <div class="my-3">
            <label for="id-input-numero" class="form-label">Número</label>
            <input type="text" name="numero" id="id-input-numero" value="{{produto.numero}}" class="form-control"
                placeholder="Digite um numero para o produto. Ex: {{produto.numero}}" required>
        </div>
        <div class="my-3">
            <label for="id-input-nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="id-input-nome" value="{{produto.nome}}" class="form-control"
                placeholder="Digite um nome para o produto. Ex: {{produto.nome}}" required>
        </div>
        <div class="my-3">
            <label for="id-input-preco" class="form-label">Preço</label>
            <input type="text" name="preco" id="id-input-preco" value="{{produto.preco}}" class="form-control"
                placeholder="Digite o preço para o produto. Ex: {{produto.preco}}" required>
        </div>
        <div class="my-3">
            <label for="id-select-TipoProduto_id" class="form-label">Tipo</label>
            <select name="TipoProduto_id" id="id-select-TipoProduto_id" class="form-select">
                {{#each tipoProdutos}}
                {{!-- Se o tipo do objeto que estemos editando, for igual ao id do objeto --}}
                {{!-- que estamos imprimindo no option, ele deve ser marcado como selected --}}
                {{#if (igual ../produto.TipoProduto_id this.id) }}
                <option value="{{this.id}}" selected>{{this.descricao}}</option>
                {{else}}
                <option value="{{this.id}}">{{this.descricao}}</option>
                {{/if}}
                {{/each}}
            </select>
        </div>
        <div class="my-3">
            <label for="id-input-ingredientes" class="form-label">Ingredientes</label>
            <input type="text" name="ingredientes" id="id-input-ingredientes" value="{{produto.ingredientes}}"
                class="form-control" placeholder="Digite os ingredientes para o produto. Ex: {{produto.ingredientes}}"
                required>
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="/produto" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>