<div class="container">
    <a href="/produto/create" class="btn btn-primary">Criar novo Produto</a>
    <a href="/recurso" class="btn btn-primary">Voltar</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tipo</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each produtos}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.descricao}}</td>
                <td>{{this.nome}}</td>
                <td>{{this.preco}}</td>
                <td>
                    <a href="/produto/{{this.id}}" class="btn btn-primary">Mostrar</a>
                    <a href="/produto/{{this.id}}/edit" class="btn btn-secondary">Editar</a>
                    <a href="#" class="btn btn-danger" onclick="deleteResource({{id}})">Remover</a>
                </td>
            </tr>
            {{/each }}
        </tbody>
    </table>
</div>

<script>
    async function deleteResource(id) {
        if (confirm("Deseja realmente remover?")) {
            response = await fetch(`/produto/${id}`, {
                method: "DELETE",
                headers: {
                    "X-CSRF-Token": "{{csrfToken}}"
                }
            });
            if (response.redirected) {
                window.location.href = response.url;
            }
        }
    }
</script>